/*body {*/
/*    background-color: #F2EBE2;*/
/*}*/
@charset "UTF-8";

@font-face {
    font-family: 'zhanku';
    src: url('http://image.zhongkk.com/LiXuKeManHuaTiv1-0-1.ttf') format('truetype');
}

.fullscreen {
    width: 60%;
    height: 60%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

figure {
    width: 200px;
    position: absolute;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    cursor: pointer;
}

figure img {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

figure figcaption {
    font-family: Comic Sans, Comic Sans MS, cursive;
    color: #8F8476;
}

.navbar {
    top: 80px;
    width: 30%;
    padding: 10px;
    left: 28%;
    height: 120px;
    z-index: 999;
    position: absolute;
    content: '';
    /*background: url(http://image.zhongkk.com/menu-ribbon-left.png), url(http://image.zhongkk.com/menu-ribbon-right.png), url(http://image.zhongkk.com/ribbon-tile.png);    background-position: top left, top right, top left;*/

    background-image: url(http://image.zhongkk.com/menu-ribbon-left.png), url(http://image.zhongkk.com/menu-ribbon-right.png), url(http://image.zhongkk.com/ribbon-tile.png);    background-position: top left, top right, top left;
    background-position: top left, top right, top left;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-clip: border-box, border-box, padding-box;
    background-origin: border-box, border-box, padding-box;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
}


.nav_content {
    color: #4f4f4f;
    font-family: 'zhanku';
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

button {
    background-color: transparent;
    padding: 10px 24px;
    color: #ffffff;
    border: 2px solid black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    transition: 0.4s;
}

button:hover {
    background-color: #f44336;
    color: white;
}